<p id="notice"><%= notice %></p>
<div id="selectable">
  <% @notes.each do |note| %>
      <%= render note %>
  <% end %>


  <div class="note">
    <ol class="sub_notes">
      <li id="list_1_1">
        <div>Item 1.1</div>
      <li id="list_1_2">
        <div>Item 1.2</div>
        <ol>
          <li id="list_1_3">
            <div>Sub Item 1.2.1</div>
          <li id="list_1_4">
            <div>Sub Item 1.2.2</div>
          <li id="list_1_5">
            <div>Sub Item 1.2.3</div>
          <li id="list_1_6">
            <div>Sub Item 1.2.4</div>
        </ol>
      <li id="list_1_7" class="no-nest">
        <div>Item 1.3 (no-nesting)</div>
      <li id="list_1_8" class="no-nest">
        <div>Item 1.4 (no-nesting)</div>
      <li id="list_1_9">
        <div>Item 1.5</div>
      <li id="list_1_10">
        <div>Item 1.6</div>
        <ol>
          <li id="list_1_11">
            <div>Sub Item 1.6.1</div>
          <li id="list_1_12" class="no-nest">
            <div>Sub Item 1.6.2 (no-nesting)</div>
          <li id="list_1_13">
            <div>Sub Item 1.6.3</div>
          <li id="list_1_14">
            <div>Sub Item 1.6.4</div>
        </ol>
      <li id="list_1_15">
        <div>Item 1.7</div>
      <li id="list_1_16">
        <div>Item 1.8</div>
    </ol>
  </div>

  <div class="note">
    <ol class="sub_notes">
      <li id="list_2_1">
        <div>Item 2.1</div>
      <li id="list_2_2">
        <div>Item 2.2</div>
        <ol>
          <li id="list_2_3">
            <div>Sub Item 2.2.1</div>
          <li id="list_2_4">
            <div>Sub Item 2.2.2</div>
          <li id="list_2_5">
            <div>Sub Item 2.2.3</div>
          <li id="list_2_6">
            <div>Sub Item 2.2.4</div>
        </ol>
      <li id="list_2_7" class="no-nest">
        <div>Item 2.3 (no-nesting)</div>
      <li id="list_2_8" class="no-nest">
        <div>Item 2.4 (no-nesting)</div>
      <li id="list_2_9">
        <div>Item 2.5</div>
      <li id="list_2_10">
        <div>Item 2.6</div>
        <ol>
          <li id="list_2_11">
            <div>Sub Item 2.6.1</div>
          <li id="list_2_12" class="no-nest">
            <div>Sub Item 2.6.2 (no-nesting)</div>
          <li id="list_2_13">
            <div>Sub Item 2.6.3</div>
          <li id="list_2_14">
            <div>Sub Item 2.6.4</div>
        </ol>
      <li id="list_2_15">
        <div>Item 2.7</div>
      <li id="list_2_16">
        <div>Item 2.8</div>
    </ol>
  </div>



</div>